<ion-view view-title="Dashboard">
    <ion-content class="full-view" scroll="false">
        <div class=" landing fx-col">
            <div class="row row-center row-header fx-200">
                <h2 classs="txt-header">ESPORTUDO</h2>
            </div>
            <div class="row row-center row-sub-header">
                <p class="txt-sub"> Todas noticias esportivas em um so lugar</p>
            </div>
            <div class="row row-center">
                <div class="col txt-center "> 250 + fontes</div>
                <div class="col txt-center"> 15 segundos</div>
            </div>
            <div class="row row-center fx-3">
                <button class="button button-full button-positive">
                    facebook
                </button>
            </div>
            <div class="row row-center fx-3">
                <button class="button button-full button-positive" ui-sref="tab.signup">
                    cadastro
                </button>
            </div>
            <div class="row row-center">
                <span class="txt-terms">terminos de servicio</span>
            </div>
            <div class="row row-center">
            <span>ja tm cadastro  <b>login</b></span>
            </div>
        </div>
    </ion-content>
</ion-view>
